@model projekt_5_4_vj.Models.Artikli

<label>@Model.Naziv</label>
<ul>
    <li>@Model.Kategorija</li>
    <li>Cijena : @Model.Cijena</li>
    <li>Kolicina : @Model.Kolicina</li>
    <li>#############</li>
    <li>Ukupno : @Model.Ukupno()</li>
</ul>
